<p id= "norice">
  <strong>Title</strong>
  <%= notice %>
</p>

<p id="notice">
  <strong>Body</strong>
  <%= notice %>
</p>

<a class="edit" href="/books/<%= notice %>/edit">Edit</a>
" | "
<a class="back" href="/books">Back</a>